/* --------- Hypertext links --------- */
a {
  color: #6d819d;
  text-decoration: none;  
}
a:hover {  
  color: #a42929;
  text-decoration: none;
  border-bottom: 1px solid #6d819d;
}
a.discrete {
  color: #7e7e7e;
  text-decoration: none;  
}
a.discrete:hover {
  color: #7e7e7e;
  text-decoration: underline; 
  border-bottom: 0; 
}
a.title {
  color: #8f8f8f;
  text-decoration: none;  
}
a.title:hover {
  color: #8f8f8f;
  text-decoration: none;  
  border-bottom: 0;
}


/* --------- Titles --------- */
h1 {
  font-family : georgia, serif;
  font-size : 1.4em;
  font-weight : bold;
}
h2 {font-size : 1.2em;}
h3 {
  font-family : georgia, serif;
  padding-bottom : 3px;
  font-size : 1em;  
}
h4 {font-size : 1em;}
h5 {font-size : .9em;}
h6 {font-size : .8em;}

/* --------- Images --------- */
img {
  position : relative;
  border : 0;  
}

/* --------- Lists --------- */
#xo-canvas-content ul {
  margin : 2px;
  padding : 2px;
  list-style : decimal inside;
  text-align : left;
}
#xo-canvas-content li {
  margin-left : 2px;
  background-color : inherit;
  color : #8f8f8f;
  line-height : 1.4em;
  list-style :	disc inside;
}

/* --------- Others --------- */
acronym, abbr, dfn {
  border-bottom : 1px dotted #333;
  cursor : help;
}
q, cite, em, dfn, strong {font-style : italic;}
strong, dfn {font-weight : bold;}
del {text-decoration : line-through;}
address {
  font-style : normal;
  letter-spacing : .1em;
}
hr {display : none;}

/* --------- Tables and cells --------- */
table {width : 100%;}
table td {
  padding : 0;
  vertical-align : top;
  border-width : 0;  
}
th {
  background-color : #9c9c9c;
  padding : 2px;
  color : #fff;  
  vertical-align : middle;
}
th a {color : #fff;}
.outer {}
.head {
  background-color : #f2f2f2;
  padding : 5px;
  font-weight : bold;
}
.even {
  background-color : #f7f7f7;
  padding : 5px;
}
.odd {
  background-color : #fafafa;
  padding : 5px;
}
.foot {
  background-color : #f2f2f2;
  padding : 5px;
  font-weight : bold;
}
tr.even td {
  background-color : #f7f7f7;
  padding : 5px;
}
tr.odd td {
  background-color : #fafafa;
  padding : 5px;
}

/* --------- Core messages --------- */
.errorMsg {
  background-color : #FFCCCC;
  padding : 10px;
  text-align : center;
  border-top : 1px solid #DDDDFF;
  border-left : 1px solid #DDDDFF;
  border-right : 1px solid #aaa;
  border-bottom : 1px solid #aaa;
  font-weight : bold;  
}
.confirmMsg {
  background-color : #DDFFDF;
  padding : 10px;
  color : #136C99;  
  text-align : center;
  font-weight : bold; 
  border-top : 1px solid #DDDDFF;
  border-left : 1px solid #DDDDFF;
  border-right : 1px solid #aaa;
  border-bottom : 1px solid #aaa;   
}
.resultMsg {
  background-color : #c1c1c1;
  padding : 10px;
  color : #333;
  text-align : center;
  font-weight : bold;
  border-top : 1px solid #ccc;
  border-left : 1px solid #ccc;  
  border-right : 1px solid #666;
  border-bottom : 1px solid #666;  
}

/* --------- Codes and Quotes --------- */
.xoopsCode {
  max-height : 200px;
  margin : 6px;
  background-color : #fafafa;
  padding : 6px; 
  overflow : auto;
  color : #666;
  font-family : "Lucida Console", "courier new", monospace;
  font-size : .9em; 
  border : 1px solid #e1e1e1;
  border-left : 3px solid #6d819d; 
}
.xoopsQuote {
  margin : 6px;
  background: #fafafa url("../img/quote.gif") no-repeat 5px 10px;  
  padding : 6px 6px 6px 40px;  
  font-style : italic;
  border : 1px solid #e1e1e1;
  border-left : 3px solid #6d819d; 
}

/* --------- Articles --------- */
.item {margin-bottom : 15px;}
.itemHead {
  padding-left : 10px;
  color : #A0ABBA;
  font-family : georgia, serif;
  font-size : 1.5em;
  font-weight : bold;
  border-bottom : 1px solid #e0e0e0;
}
.itemInfo {
  padding : 3px;
  text-align : right; 
}
.itemTitle a {
  background-color : transparent;
  color : #A0ABBA;
  font-size : 1em;
  font-weight : bold;
}
.itemPoster {
  font-size : .85em;
  font-style : italic;
}
.itemPostDate {
  font-size : .9em;
  font-style : italic;
}
.itemStats {
  font-size : .9em;
  font-style : italic;
}
.itemBody {padding-left : 3px;}
.itemText {
  margin-top : 5px;
  margin-bottom : 5px;
  padding : 0 5px 0 5px;
  line-height : 1.4em;
}
.itemFoot {  
  background-color : #f2f2f2;
  padding : 4px;
  text-align : center; 
}
.itemAdminLink {font-size : .9em;}
.itemPermaLink {font-size : .9em;}

/* --------- Forums and Comments --------- */
.comTitle {
  margin-bottom : 2px;
  font-weight : bold;  
}
.comText {padding : 2px;}
.comUserStat {
  margin : 2px; 
  background-color : #fff;
  padding : 2px; 
  font-size : .8em;
  font-weight : bold;
  border : 1px solid #ccc;   
}
.comUserStatCaption {font-weight : normal;}
.comUserStatus {
  margin-left : 2px;
  margin-top : 10px;
  font-weight : bold;
  font-size : .8em;
}
.comUserRank {margin : 2px;}
.comUserRankText {
  font-size : .8em;
  font-weight : bold;
}
.comUserRankImg {border : 0;}
.comUserName {}
.comUserImg {margin : 2px;}
.comDate {
  font-weight : normal;
  font-style : italic;
  font-size : .85em;
}  
.comDateCaption {
  font-weight : bold;
  font-style : normal;
  font-size : .8em;
}
.signature {
  font-size : .8em;
  font-style : italic;
}