/* --------- System module -------- */
/* --- system_redirect ---*/
#xo-redirect {
  margin : 10px 80px 10px 80px;
  background-color : #fff;
  padding : 8px;
  line-height : 1.4em;
  text-align : center;
}
/* --- system_siteclosed --- */
#xo-siteclosed {
  margin : 10px 200px 10px 200px;
  background-color : #fff;
  padding : 8px;
  line-height : 1.6em;
  text-align: center;
}
#xo-siteclosed strong {
  display : block;
  font-style : normal;
}
#xo-siteclosed label {
  font-size : .9em;
  font-weight : normal;
}
#xo-siteclosed input {margin : 2px;}